#workarea-content, .ui-side-panel-wrap-workarea {
    background-color: #eef2f4 !important;
}

.vacation-ui-block, .form-block {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 15px;
}

.vacation-form-container .form-block {
    margin-bottom: 10px !important;
}

.form-block {
    position: relative;
}

.form-block p {
    margin-top: 0;
    font-weight: bold;
    font-size: 15px;
}

.form-block .message-box {
    margin-top: 15px;
}

.vacation-form-container .add-new-block {
    display: inline-block;
    margin: 0 15px 0 0;
    border-bottom: 1px dashed;
    color: #1f68b0;
    text-decoration: none;
    white-space: nowrap;
    font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    transition: 220ms all ease;
}

.vacation-form-container .vacation-days-count {
    display: inline-block;
    margin: 0 15px 0 0;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold !important;
    font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: right;
}

.vacation-form-container .vacation-days-count .days-left{
    color: #719100;
}

.vacation-form-container .add-new-block:hover {
    color: #053769;
}

.close {
    display: none;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 22px;
    height: 22px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}